version: "3.8"
services:
  client:
    build: ./frontend
    container_name: client
    ports:
      - "5173:5173"
    depends_on:
      - api
    volumes:
      - ./frontend:/app
      - /app/node_modules

  api:
    build: ./backend
    container_name: api
    ports:
      - "3000:3000"
    volumes:
      - ./backend:/app
      - /app/node_modules

  db:
    image: postgres:16
    container_name: db
    environment:
      POSTGRES_USER: masafumi
      POSTGRES_PASSWORD: Tm107348
      POSTGRES_DB: todo_db
    ports:
      - "5432:5432"
